body {
  color: black;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95vh;
}

.modal-box {
  min-height: 170px;
  width: 100%;
  max-width: 350px;
  background-color: white;
  padding: 35px;
}

.create-list {
  margin-top: 40px;
}
.create-list-input {
  margin-bottom: 20px;
  max-width: 40vw;
  width: 20rem;
}

.create-list-btn {
  width: 6rem;
}
.buttons {
  padding-left: 35%;
}
.btn {
  margin: 5px;
}
